<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.p2p.bussiness.mapper.BidMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.p2p.bussiness.domain.Bid">
    <id column="id" property="id" />
    <result column="actualRate" property="actualRate" />
    <result column="availableAmount" property="availableAmount" />
    <result column="bidRequestId" property="bidRequestId" />
    <result column="bidTime" property="bidTime" />
    <result column="bidRequestTitle" property="bidRequestTitle" />
    <result column="bidRequestState" property="bidRequestState" />
    <!--投标人-->
    <association property="bidUser" column="bidUserId" javaType="cn.wolfcode.p2p.base.domain.LoginInfo"
       select="cn.wolfcode.p2p.base.mapper.LoginInfoMapper.selectById"
    ></association>
  </resultMap>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into bid (actualRate, availableAmount, bidRequestId, bidUserId, bidTime, 
      bidRequestTitle, bidRequestState)
    values (#{actualRate}, #{availableAmount}, #{bidRequestId}, #{bidUser.id}, #{bidTime},
      #{bidRequestTitle}, #{bidRequestState})
  </insert>
  <update id="updateByPrimaryKey">
    update bid
    set actualRate = #{actualRate},
      availableAmount = #{availableAmount},
      bidRequestId = #{bidRequestId},
      bidUserId = #{bidUser.id},
      bidTime = #{bidTime},
      bidRequestTitle = #{bidRequestTitle},
      bidRequestState = #{bidRequestState}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, actualRate, availableAmount, bidRequestId, bidUserId, bidTime, bidRequestTitle, 
    bidRequestState
    from bid
    where id = #{id}
  </select>
  
  <select id="listByBidRequstId" resultMap="BaseResultMap">
    select id, actualRate, availableAmount, bidRequestId, bidUserId, bidTime, bidRequestTitle,
    bidRequestState
    from bid
    where bidRequestId = #{bidRequestId}
  </select>
  <select id="sumUserBidAmountByBidRequstId" resultType="bigDecimal">
                     <!--投标有效金额-->
    select ifnull(sum(availableAmount),0) from bid
    where bidRequestId=#{bidRequestId} and bidUserId = #{userId}
  </select>

  <select id="getBids" resultMap="BaseResultMap">
    select id, actualRate, availableAmount, bidRequestId, bidUserId, bidTime, bidRequestTitle,
    bidRequestState
    from bid
  </select>
    <update id="batchUpdateState">
    update bid set bidRequestState = #{state}
    where bidRequestId=#{bidRequestId}
  </update>
  <select id="selecTtotalBids" resultType="int">
    select count(DISTINCT bidRequestId)
    from bid
  </select>
</mapper>